.searchbar {
    width: 50%;
    height: 100%;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    color: #252525e8;
    margin: auto;
    border-radius: 25px;
    text-align: left;
    text-indent: 50px;
    border: none;
    background-color: #ffffff;
    overflow: hidden;
}

.searchbar::placeholder {
    color: #797878e8;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

.searchbar::-webkit-search-cancel-button {
    padding-left: 10px;
    margin-left: 10px;
    color: #252525e8;
    cursor: pointer;
    background-color: #ffffff;
    z-index: 2;
}

.button {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    color: #252525e8;
}

.form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    z-index: 1;
}